/* ================================= 
  Base
==================================== */

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: 1.6;
	color: white;
	background-color: black;
}

header, footer, a {
	background-color: maroon;
	color: white;
	text-decoration: none;
}

a:hover {
	color: maroon;
	background-color: white;
}

/* ================================= 
  Mobile 
==================================== */

.header {
	display: block;
	width: 100%;
	position: fixed;
	z-index: 1;
	
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	
}

.logo {
	height: 150px;
	width: 150px;
	padding: 10px;
}

.header ul a {
	display: block;
	padding: 5px;
}

.menu {
	clear: both;
	max-height: 0;
	transition:max-height .2s ease-out;
}

.menu_2 {
	padding: 30px 20px;
	position: relative;
	cursor: pointer;
	float: right;
	
}

.menu_2 .bars {
	display: block;
	background: white;
	height: 2px;
	width: 20px;
	position: relative;
	transition:all .2s ease-out;
}

.menu_2 .bars:before, .bars:after {
	content: "";
	background: white;
	height: 2px;
	width: 20px;
	position: absolute;
	transition:all .2s ease-out;
	
}

.bars:before {
	bottom: 5px;
}

.bars:after {
	top: 5px;
}

.menu_1 {
	display: none;
}

.menu_1:checked ~ .menu {
	max-height: 240px;

}








/* ================================= 
 media queries
==================================== */

@media all and (min-width: 768px) {
	.sticky {
		flex-direction: column;
		min-height: 100vh;
		flex-grow: 1;
	}
}

  


@media all and (min-width: 1026px) {
	

	


}









  


