/* ================================= 
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: 1.6;
	color: white;
	background-color: black;
}

header {
	
	background-color: maroon;
	padding: 2em;
}

nav ul li a {
	color: white;
	background-color: black;
	

}

nav ul li {
	display: flex;
	flex-direction: row;
	list-style: none;
	flex-wrap: wrap;
	
}



p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

footer {
	display: flex;
	list-style: none;
    background-color: maroon;
}

/* ================================= 
  Base Layout Styles
==================================== */
.linkedin, .github, .Form {
	color: white;
	
} 
.main {
	display: inline flex;
	
}

.items {
	display: flex;
	justify-content: flex-end;
}

.logo {
	position: absolute;
	max-width: 150px;
	max-height: 150px;
	z-index: 1;
}

.brewery {
	max-width: 1500px;
	max-height: 700px;
	justify-content: space-around;
	
}


.main-header, .main-footer {
	padding-left: 0em;
	padding-right: 0em;
	
}

a:hover {
	color: cyan;
}



/* ================================= 
 media queries
==================================== */

@media (min-width: 576px) {
	.sticky {
		flex-direction: column;
		min-height: 100vh;
		flex-grow: 1;
		flex
	}

	.main-footer {
		flex-direction: column;
	}
	.main {
		flex-direction: column;
		;
	}
 

}

@media (min-width: 769px) {
	.sticky {
		flex-direction: column;
		min-height: 100vh;
		flex-grow: 1;
		flex
	}
	.main {
		flex-direction: column;
		;
	}
}

  


@media (min-width: 1025px) {
	.sticky {
		flex-direction: row;
		min-height: 100vh;
		flex-grow: 1;
		
	}

	.main {
		flex-direction: row;
		;
	}

	.main-footer {
		flex-direction: column;
	}

	


}









  


