/* ================================= 
  Base
==================================== */

* {
	box-sizing: border-box;
	margin: 0;
}


body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: 1.6;
	color: white;
	background-color: black;
}

.sticky {
	min-height: 100vh;
}

header, footer, a {
	background-color: maroon;
	color: white;
	text-decoration: none;
}

.button {
	display: none;
}

a:hover {
	color: maroon;
	background-color: white;
}

ul {
	margin: 0;
	list-style: none;
}

.logo {
	height: 150px;
	width: 150px;
	padding: 5px;
}

.main-footer ul {
	display:flex;
	justify-content: space-around;
	padding: 5px;
}


.container {
	width: 300px;
	height: 400px;
	margin: 100px auto;
	background: rgb(97, 5, 5);
	position: relative;
	border: 2px solid white;
	
		
}

#converter {
	width: auto;
	height: auto;
	margin: 15px auto;
	background: rgb(97, 5, 5);
	position: relative;
	border: 2px solid white;
		
}

table, tr, td {
	display:flex;
	justify-content: center;
		
}

.newData {
	margin-right: 115px;
}


#name, #email, #number {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3px;
	margin: 20px;
	width: auto;
	
	
}
.submit{
	border: 2px solid white;
	margin-top: 50px;
	margin-left: 20px;
	color: black;
	
}

#error {
	margin: 5%;
	color: white;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.navbar li a {
	padding: 0 20px 0 20px;
	border-radius: 5px;
	border: white;
	
}
h4 {
	text-align: center;
	margin-bottom: 50px;
	color: white;
	border-bottom: 2px solid black;
}



/* ================================= 
 media queries
==================================== */

@media only screen and (max-width: 767px) {

	.beer {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 75%;
	
	}

	.brewery {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	
	}
	.menu ul a {
		display: block;
		padding: 5px;
		text-align: left;
		border-bottom: 1px solid black;
	}

	.navbar {
		display: none;
		width: 100%;
		transition:max-height .35s ease-out;
	}

	.work {
		padding: 25px 25px;
		position: relative;
		cursor: pointer;
		float: right;
		
	}

	.work .bars {
		display: block;
		background: white;
		height: 2px;
		width: 20px;
		position: relative;
		transition:all .35s ease-out;
	}

	.work .bars:before, .bars:after {
		display: block;
		content: "";
		background: white;
		height: 100%;
		width: 100%;
		position: absolute;
		transition:all .35s ease-out;
	}

	.bars:before {
		top: -5px;
	}

	.bars:after {
		top: 5px;
	}

	.button:checked ~ .navbar {
		display: block;

	}

	.button:checked ~ .work .bars {
		background: transparent;
	}

	.button:checked ~ .work .bars:before {
		transform: rotate(45deg);
		top: 0;
	}

	.button:checked ~ .work .bars:after {
		transform: rotate(-45deg);
		top: 0;
	}

	.main {
		display: flex;
		flex-direction: column;
	}

	h3 {
		
		padding: 15px;
	}

	p {
		padding: 15px;
	}

	#converter {
		width: max-content;
		height: auto;
		margin-top: 20px;
			
	}

	.row_2, ul li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: baseline;
		padding: 5px;
	}

	h2 {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}

		
}

@media only screen and (min-width: 768px) {
	.beer {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	
	}

	.main_2 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 20px;
	}

	.brewery {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	
	}
	
	.row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 20px;
	}

	h1 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 0 20px 0 20px;
	}

	h3 {
		padding: 15px;
	}

	p {
		padding: 10px;
	}
	
	#converter {
		width: 75%;
		height: 50%;
		margin: 15px auto;
	
			
	}


}

  


@media only screen and (min-width: 1025px) {
	.beer {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	
	}

	.brewery {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 85%;
	
	}

	.row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 20px;
	}

	.main_2 {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 20px;
	}

	h1 {
		align-self: center;
		padding: 0 20px 0 20px;
	}

	.row_2 {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 20px;
	}

	#converter {
		width: 50%;
		height: auto;
		margin: 15px auto;
	
			
	}

	
	p {
	
		padding: 5px;
	}

	

	

	

	


	

	

	

	


}









  


